$gray-1000: #181818;
$primary: #6ed0e9;
$secondary: #023c5b;
$tertiary: #74ab3a;
$quaternary: #ff8f00;
$font-family-sans-serif: Roboto Condensed,sans-serif;
//$font-weight-base: 300 !default;
$headings-font-weight : 300 !default;
$grid-columns: 120;