@import 'src/Styles/SkylinePortfolio/Variables';
@import 'src/Styles/SkylinePortfolio/Mixins';
@import 'src/Styles/_Bootstrap-4.0.0/scss/functions';
@import 'src/Styles/_Bootstrap-4.0.0/scss/variables';
@import 'src/Styles/_Bootstrap-4.0.0/scss/bootstrap';
@import 'src/Styles/SkylinePortfolio/Components/Portfolio';
html {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: $gray-100;
}

img {
    max-width: 100%; 
}
 
* {
    box-sizing: border-box;
}

nav {
    background: $secondary;
    box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.1);
    ul {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        margin: auto;
    }
    li.text {
        padding: 0.5em 1em;
    }
    a {
        color: $gray-100;
    }
    a.logo {
        display: inline-block;
        padding-top: 1.5em;
        padding-right: 1.5em;
    }
    img.logo {
        position: relative;
        top: 1px; //push down 1px to be flush with header bottom
        width: 12em;
    }
}

.cta {
    $size: 3em;
    position: fixed;
    right: 1em;
    bottom: -10vh;
    z-index: 1;
    padding: 0;
    transition: bottom 0.5s;
    &.cta-in-view {
        position: fixed;
        right: 1em;
        bottom: 1em;
    }
    a {
        display: flex; 
        align-items: center;  
        justify-content: center;
        width: $size;
        height: $size;
        border-radius: $size/2;
        text-align: center;
        text-decoration: none; //transition: color 0.5s;
        color: $primary;
        background-color: $secondary;
        box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
        transition: transform 0.5s, background-color 0.33s, color 0.5s, box-shadow 0.5s;
        svg {
            width: 1em;
            height: 1em;
            path {
                fill: $primary; 
            }
        }
    }
    &:hover {
        a {
            background-color: $primary; //darken($primary,20);
            box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.5);
            color: $secondary;
            svg path {
                fill: $secondary;
            }
        }
    }
}

.masonry {
    display: block;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        column-count: 2;
        column-gap: 2em;
        padding-left: 2em;
        padding-right: 2em; 
        >* {
            max-width: none;
            padding: 0;
        }
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        column-count: 2;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        column-count: 3;
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
        column-count: 4;
    }
}

@mixin bg-alt-diagonal ($pos, $height, $color1, $color2) {
    > :first-child {
        padding-top: $height;
    }
    > :last-child {
        padding-bottom: $height;
    }
    > :nth-child(1n) {
        background-color: $color1;
    }
    > :nth-child(2n) {
        position: relative;
        padding-top: $height;
        padding-bottom: $height;
        overflow: hidden;
        color: $color1;
        background-color: $color2;
        @media (min-width: map-get($grid-breakpoints, sm)) {
            padding-top: 0;
            padding-bottom: 0;
        }
        &:before {
            content: ' ';
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-right: 100vw solid transparent;
            border-top: $height solid $color1;
        }
        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid transparent;
            border-bottom: $height solid $color1;
        }
    }
}

.bg-cube {
    background-image: url('../../Images/bg-cube.png');
}

.bg-lightgray {
    background-color: $gray-100;
    color: $gray-1000;
} 

.bg-darkgray {
    background-color: $gray-1000;
    color: $gray-100;
}

.bg-alt-diagonal-white-primary {
    @include bg-alt-diagonal(2n,
    10vh,
    $white,
    $primary);
}

.bg-tertiary {
    background-color: $tertiary !important;
}

.bg-quaternary {
    background-color: $quaternary !important;
}

.text-white {
    color: $white !important;
}

.text-lightgray {
    color: $gray-100 !important;
}

.text-gray {
    color: $gray-600 !important;
}

.text-darkgray {
    color: $gray-1000 !important;
}

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-tertiary {
    color: $tertiary !important;
}

.text-quaternary {
    color: $quaternary !important;
}

.icon {
    max-height: 1em;
}