@import 'src/Styles/SkylinePortfolio/Variables';
$service-cta-bg: #1988b7;
@keyframes animate-cta-bg {
    0% {
        background-color: $service-cta-bg;
    }
    50% {
        background-color: darken($service-cta-bg,20%);
    }
    100% {
        background-color: $service-cta-bg;
    }
}
.portfolioItem-detail {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1.25;
    }
    .icon {
        max-height: 1.5em;
        padding-right: 0.5em;
    }
    .portfolioItem-detail-image {
        position: relative;
        min-height: 15rem;
        height: 30vw;
        max-height: 40vh;
        overflow: hidden;


        @media (min-width: map-get($grid-breakpoints, sm)) {
            //min-height: 0;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: none;
            max-height: 105%;
            transform: translate(-50%, -50%);
            transform-origin: center;
            transition: top 1s, left 1s, transform 1s;
            @media (min-width: map-get($grid-breakpoints, sm)) {
                //position: relative;
                max-width: 110%;
                max-height: none;
                //transform: translateX(-50%);
            }
        }
    }
    .portfolioItem-detail-content {
        color: $gray-1000;
    }
    $neg-size: 3rem;
    .portfolioItem-detail-summary {
        padding-top: 3rem;
        padding-bottom: 6rem;
        padding-right: 4.5rem;
        box-shadow: 0.5em -0.5em 1em rgba(0, 0, 0, 0.05)
    }
    .portfolioItem-detail-features {
        font-weight: $font-weight-light;
        padding-top: $neg-size;
        padding-bottom: $neg-size * 2;
        padding-left: 4.5rem;
        padding-right: 7%;
        table {
            tbody {
                tr {
                    td {
                        padding: 0.5em 0;
                    }
                }
            }
        }
    }
    .case-study-link {
        padding: 0.25em 0.75em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        border-radius: 2em;
        box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.15);
        transition: background 0.3s, box-shadow 0.3s;
        &:hover,
        &:focus {
            box-shadow: 0.15em 0.25em 0.4em rgba(0, 0, 0, 0.3);
        }
        &:active {
            box-shadow: inset 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.1);
        }
    }
    @media (min-width: map-get($grid-breakpoints, sm)) {
        $shift: 3em;
        .portfolioItem-detail-overview {
            margin-bottom: $shift;
        }
        .portfolioItem-detail-tech {
            margin-top: -1 * $shift;
        }
    }
    .portfolioItem-detail-tech {
        $bg-start: #f5b11a;
        $bg-end: #d6902a;
        $bg-grad: linear-gradient($bg-start, $bg-end);
        $bg: $bg-end;
        $neg-bg: $white;
        position: relative;
        margin-left: -3rem;
        margin-right: -3rem;
        background: $bg;
        color: $white;
        text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.2); //box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.2);
        >.col,
        >[class*="col-"] {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: inherit;
        }
        .heading-tech {
            margin-bottom: 0.5em; //color: $tertiary;
        }
        .heading-tested {
            margin-bottom: 0.6em;
            font-size: 1em; //color: $primary;
        }
        .neg-space-col {
            padding: 0;
            @media (min-width: map-get($grid-breakpoints, sm)) {
                display: none;
                +* {
                    margin-top: 3rem;
                }
            }
        }
        @media (min-width: map-get($grid-breakpoints, sm)) {
            margin-bottom: 1em;
            background: $bg-grad;
            box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.25);
            .neg-space-col {
                display: none;
                +* {
                    margin-top: 3rem;
                }
            }
        }
        .neg-space-shape {
            width: calc(50% - #{$neg-size});
            height: $neg-size;
            background: $neg-bg;
            position: relative;
            float: left;
        }
        .neg-space-shape:last-child {
            float: right;
        }
        .neg-space-shape:after {
            content: ' ';
            position: absolute;
            top: 0;
            right: -$neg-size;
            z-index: 1;
            width: $neg-size;
            height: $neg-size;
            border: ($neg-size/2) solid $neg-bg;
            border-top-color: transparent;
            border-right-color: transparent;
        }
        .neg-space-shape:last-child:after {
            left: -$neg-size;
            right: auto;
            border-right-color: $neg-bg;
            border-left-color: transparent;
        }
        .neg-space-col:first-child {
            margin-bottom: -$neg-size;
            >.neg-space-shape {
                top: -$neg-size;
                background: $bg;
                &:after {
                    border-bottom-color: $bg;
                }
                &:first-child:after {
                    border-left-color: $bg;
                }
                &:last-child:after {
                    border-right-color: $bg;
                }
            }
        }
        .neg-space-col:last-child {
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -50%;
            .neg-space-shape {
                background: transparent;
                &:first-child:after {
                    border-top-color: $bg;
                    border-right-color: $bg;
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                }
                &:last-child:after {
                    border-top-color: $bg;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    border-left-color: $bg;
                }
            }
        }
    }
    .portfolioItem-device-sections {
        img {
            max-height: 250px;
            max-height: 50vh;
        }
        p:last-child {
            margin-bottom: auto;
        }
        &.bg-alt-diagonal-white-primary>:nth-child(1n) {
            padding-top: 3em;
        }
        > :nth-child(1n)>.row {
            text-align: center;
            font-size: 1.25em;
        }
        @media (min-width: map-get($grid-breakpoints, sm)) {
            > :nth-child(1n)>.row {
                display: flex;
                align-items: center;
                text-align: left; //font-size: 1.25em;
            }
            > :nth-child(2n)>.row {
                text-align: center;
                min-height: 350px;
                min-height: 35vh;
                >.order-sm-1 {
                    transform: translateY(50%);
                }
                >.order-sm-2 {
                    transform: translateY(25%);
                }
                >.order-sm-3 {
                    transform: translateY(-50%);
                }
            }
            > :nth-child(3n)>.row {
                text-align: right;
            }
        }
        .monitor-text_only {
            margin-top: 1em;
        }
        @media (min-width: map-get($grid-breakpoints, sm)) {
            .monitor-text_only {
                margin-top: 0;
            }
            .phone-text_only {
                margin-top: 5vh;
            }
            .phone-text_only+.phone-text_only {
                margin-top: -5vh;
            }
        }
    }
    .service-cta-wrapper .service-cta {
        display: block;
        padding: 2em 1.5rem;
        font-size: 1.25em;
        text-align: center;
        background: $service-cta-bg;
        margin: auto -1.5rem;
        &:hover,
        &:focus {
            animation: animate-cta-bg;
            animation-delay: 0;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        >.btn {
            display: inline-flex;
            align-content: center;
            align-items: center;
            border: 0;
            padding: 0.5em 1em;
            background: $primary;
            color: rgba($secondary, 0.63);
            box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.31);
            border-radius: 2em;
            transition: background 0.25s, box-shadow 0.25s;
            &:hover,
            &:focus {
                box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.31);
            }
            &:active {
                background: darken($primary, 20%);
                box-shadow: inset 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.31);
            }
        }
        .cta-service-name {
            color: rgba(255, 255, 255, 0.84);
            font-weight: 900;
            font-size: 1.25em;
            text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
            margin: auto 0.25em;
        }
    }
}

.card-portfolio-item {
    >a {
        display: inline-block;
        display: flex;
        flex-direction: column;
        height: 100%;
        color: inherit;
        transition: background 0.33s;
        &:focus {
            background: rgba($primary, 0.2);
        }
        h2 {
            color: $primary;
        }
        /* 
        * The fix described by 'Comment IMG_0001' 
        * presents an issue regarding the border-radius of this
        * element's parent. Set translateZ(0) for the transform property
        * in order to fix it.
        */
        transform: translateZ(0);
        .portfolioItem-tile-image-wrapper {
            display: inline-block;
            overflow: hidden;
        }
        img.portfolioItem-tile-image {
            transition: transform 1s;
            /*
            * Comment IMG_0001
            * The following properties are all needed to resolve
            * a bizarre issue when img element's are scaled via
            * the css property transform. Without all of these 
            * properties, img elements within a masonry style layout
            * will vanish. This also fixes a blur effect that occurs
            * to img elements that finish scaling up.
            */
            -webkit-backface-visibility: hidden;
            -ms-transform: translateZ(0);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            &:hover {
                transform-origin: center;
                transform: scale(1.25);
            }
        }
    }
    .portfolioItem-tile-date {
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        background: $secondary;
        border-radius: 5.5em;
    }
}

/*
// PARALLAX EFFECT ATTEMPTS
.portfolioItem-detail .portfolioItem-detail-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30rem;
    overflow: hidden;
    z-index: 0;
}

.portfolioItem-detail-image+.container-fluid {
    margin-top: 200px;
    background: white !important;
    position: relative;
    z-index: 2;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: auto !important;
}

.backToTop, footer {
    position: relative;
}
*/