$white: #fff;
$grey-1: #eee;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #aaa;
$grey-6: #999;
$grey-7: #888;
$grey-8: #777;
$grey-9: #666;
$grey-10:#555;
$grey-11:#444;
$grey-12:#333;
$grey-13:#222;
$grey-14:#111;
$black: #000;

$primary: #46B68B;
$secondary: #546AA7;
$tertiary: #4E325C;

$screen-unit-px: 1/16;
$screen-xs: 0rem;
$screen-sm: 30rem;
$screen-md: 60rem;
$screen-lg: 90rem;
$screen-xl: 120rem;
$screen-xs-max: $screen-sm - $screen-unit-px;
$screen-sm-max: $screen-md - $screen-unit-px;
$screen-md-max: $screen-lg - $screen-unit-px;
$screen-lg-max: $screen-xl - $screen-unit-px;

$grid-base: 12;

