
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'src/Styles/_Variables.scss';
@import 'src/Styles/_Mixins.scss';
@import 'src/Styles/Components/_Portfolio.scss'; 
body {      
  margin: 0;   
  padding: 0;   
  background: $gray-100; 
  color: $gray-1000; 
}

img {
  max-width: 100%;  
} 
   
* {
  box-sizing: border-box;
} 

